html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "GTAmericaReg", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "GTAmericaReg";
  font-weight: regular;
  src: url("font/GTAmerica/GT-America-Mono-Light.otf");
}

@font-face {
  font-family: "GTAmericaBold";
  font-weight: bold;
  src: url("font/GTAmerica/GT-America-Mono-Bold.otf");
}

canvas {
  display: block;
}

a {
  text-decoration: none;
}

.floatR {
  float: right;
}

.scroll {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

/* TEXT */

mark {
  padding: 4px;
  background-color: #bdbdbd;
}

.welcomeText {
  margin-left: 23px;
  margin-top: 30px;
}

.logoAzienda {
  margin-bottom: 40px;
  position: absolute;
  bottom: -15px;

  animation: fadeIn 3s ease 4s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}

#logoAzienda {
  width: auto;
  height: 50px;
}

.nameAzienda {
  width: auto;
  height: 35px;
  position: absolute;
  bottom: 45px;
  right: 35px;

  animation: fadeIn 3s ease 4.3s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}

.homeText {
  font-size: 17px;
  line-height: 22px;
  margin: 0;
}

/* TAB OPENER */

.btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  /* display: inline-block; */
  font-family: "GTAmericaReg", Arial, Helvetica, sans-serif;
  padding: 0;
}

.tabOpener {
  font-family: "GTAmericaBold", Arial, Helvetica, sans-serif;
  color: #28ff02;
  font-size: 16px;
}

#arrowLeft {
  width: 1%;
  height: auto;
}

/* On mouse-over */
.tabOpener:hover {
  background: #28ff02;
  color: #a8a8a8;
}

/* TEXT WINDOWS */

.tab {
  opacity: 90%;
  position: absolute;
  cursor: move;
  -webkit-box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 20px 5x rgba(0, 0, 0, 0.15);
}

.row:after {
  content: "";
  display: table;
  clear: both;
  height: 100%;
  min-height: 100%;
}

.col {
  float: left;
}

.left {
  width: 85%;
}

.right {
  width: 15%;
}

.left-column {
  height: 140%;
}

.right-column {
  float: right;
  height: 100%;
}

.windowTxt {
  font-size: 13px;
  padding-left: 18px;
}

.iconClose {
  padding: 2px;
  padding-top: 6px;
  padding-right: 6px;
  height: 10px;
  width: auto;
  text-align: right;
  right: 0;
  float: right;
}

.iconMove {
  height: 15px;
  width: auto;
  text-align: right;
  right: 0;
  float: right;
}

.ex {
  padding-left: 5.5px;
}
.ex2 {
  padding-left: 5.5px;
  bottom: 0;
  position: absolute;
}

.line {
  width: 50%;
  margin-top: 15%;
  height: 50%;
  border-right: 0.1px solid #28ff02;
}

/* WINDOWS 0 */

.tab0A {
  width: 23%;
  height: 11%;
  background-color: #7a7a7a;
  top: 10%;
  left: 35%;
  overflow: hidden;

  animation: fadeIn 0.8s ease 1s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.tab0B {
  width: 16%;
  height: 5.5%;
  background-color: #7a7a7a;
  top: 27%;
  left: 40%;
  overflow: hidden;

  animation: fadeIn 0.8s ease 1.2s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.tab0C {
  width: 22%;
  height: 17%;
  background-color: #7a7a7a;
  top: 26%;
  left: 75%;
  overflow: hidden;

  animation: fadeIn 0.8s ease 1.4s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.tab0D {
  width: 18%;
  height: 9%;
  background-color: #7a7a7a;
  top: 51%;
  left: 50%;
  overflow: hidden;

  animation: fadeIn 0.8s ease 1.6s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.tab0E {
  width: 19%;
  height: 9%;
  background-color: #7a7a7a;
  top: 57%;
  left: 30%;
  overflow: hidden;

  animation: fadeIn 0.8s ease 1.8s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.tab0F {
  width: 25%;
  height: 11%;
  background-color: #7a7a7a;
  top: 50%;
  left: 72%;
  overflow: hidden;

  animation: fadeIn 0.8s ease 2s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.tab0G {
  width: 26%;
  height: 13%;
  background-color: #7a7a7a;
  top: 15%;
  left: 53%;
  overflow: hidden;

  animation: fadeIn 0.8s ease 2.2s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.tab0H {
  width: 24%;
  height: 6%;
  background-color: #7a7a7a;
  top: 42%;
  left: 66%;
  overflow: hidden;

  animation: fadeIn 0.8s ease 2.4s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.tab0I {
  width: 15%;
  height: 8%;
  background-color: #7a7a7a;
  top: 45%;
  left: 40%;
  overflow: hidden;

  animation: fadeIn 0.8s ease 2.6s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.tab0J {
  width: 28%;
  height: 13%;
  background-color: #7a7a7a;
  top: 58%;
  left: 60%;
  overflow: hidden;

  animation: fadeIn 0.8s ease 2.8s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.tab0K {
  width: 22%;
  height: 11%;
  background-color: #7a7a7a;
  top: 35%;
  left: 45%;
  overflow: hidden;

  animation: fadeIn 0.8s ease 3s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.tab0L {
  width: 24%;
  height: 9%;
  background-color: #7a7a7a;
  top: 65%;
  left: 35%;
  overflow: hidden;

  animation: fadeIn 0.8s ease 3.2s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.tab0M {
  width: 28%;
  height: 13%;
  background-color: #7a7a7a;
  top: 70%;
  left: 50%;
  overflow: hidden;

  animation: fadeIn 0.8s ease 3.4s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}

/* WINDOWS 2 */

.tab2A {
  width: auto;
  height: auto;
  background-color: #7a7a7a;
  top: 5%;
  left: 55%;
}

.tab2B {
  width: 30%;
  height: 40%;
  background-color: #7a7a7a;
  top: 45%;
  left: 58%;
  overflow: hidden;
}

.line2B {
  width: 50%;
  margin-top: 15%;
  height: 60%;
  border-right: 0.1px solid #28ff02;
}

.tab2C {
  width: 30%;
  height: 30%;
  background-color: #7a7a7a;
  top: 25%;
  left: 35%;
  overflow: hidden;
}

.line2C {
  width: 50%;
  margin-top: 15%;
  height: 47%;
  border-right: 0.1px solid #28ff02;
}

/* IMAGE WINDOWS */

.column {
  width: 100%;
  height: 100%;
}

.headerImg {
  background-color: black;
}

.proprioImg {
  padding: 10px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 100%;
}

.footerImg {
  background-color: black;
  padding-right: 8px;
}

.iconFullScreen {
  padding: 2px;
  padding-top: 6px;
  height: 20px;
  width: auto;
  float: left;
}

.numberImg {
  text-align: right;
  padding-right: 4px;
  color: #28ff02;
  line-height: 25px;
  padding: 0;
  margin: 0;
}

/* TEXT ANIMATION

.terminal__prompt--checkout,
.terminal__prompt--show-contact,
.terminal__prompt--mail {
  opacity: 0;
}

.terminal__prompt--typing {
  position: relative;
}

.terminal__prompt--typing .cover {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  background: #989898;
  border-left: 1px solid #28ff02;
}

.line1Anim {
  animation: fadeIn 0s ease 5s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.line1 {
  animation: typing-line 5s steps(31, end) 5s;
}

.line2Anim {
  animation: fadeIn 0s ease 8s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.line2 {
  animation: typing-line 5s steps(37, end) 8s;
}

.line3 {
  animation: fadeIn 0.3s ease 11s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}

.line4Anim {
  animation: fadeIn 0s ease 11.5s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.line4 {
  animation: typing-line 5s steps(33, end) 11.5s;
}

.line5 {
  animation: fadeIn 0.3s ease 14s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}

.line6 {
  animation: fadeIn 0.3s ease 15s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}

.line7 {
  animation: fadeIn 0.3s ease 16s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}

.line8Anim {
  animation: fadeIn 0s ease 17s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.line8 {
  animation: typing-line 5s steps(22, end) 17s;
}

.line9 {
  animation: fadeIn 0.3s ease 19s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}

.line10 {
  animation: fadeIn 0.3s ease 20s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}

.line11 {
  animation: fadeIn 0.3s ease 21s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.line12 {
  animation: fadeIn 0.3s ease 21.3s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.line13 {
  animation: fadeIn 0.3s ease 21.6s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.line14 {
  animation: fadeIn 0.3s ease 21.9s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}
.line15 {
  animation: fadeIn 0.3s ease 22.2s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}

@keyframes typing-line {
  0% {
    width: 100%;
    opacity: 1;
  }
  12% {
    width: 0;
  }
  15% {
    opacity: 1;
  }
  16% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typing-show-contact {
  0%,
  35% {
    width: 100%;
  }
  47%,
  100% {
    width: 0;
  }
  48% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes show-checkout {
  0%,
  20% {
    opacity: 0;
  }
  25%,
  100% {
    opacity: 1;
  }
}

@keyframes show-mail {
  0%,
  55% {
    opacity: 0;
  }
  60%,
  100% {
    opacity: 1;
  }
}

@keyframes show-uploaded {
  0%,
  63% {
    opacity: 0;
  }
  68%,
  100% {
    opacity: 1;
  }
}

@keyframes show-show-contact {
  0%,
  28% {
    opacity: 0;
  }
  32%,
  100% {
    opacity: 1;
  }
}

DIVS ANIMATION 

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
} 
*/
