html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "GTAmericaReg", Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "GTAmericaReg";
  font-weight: regular;
  src: url("font/GTAmerica/GT-America-Mono-Light.otf");
}

@font-face {
  font-family: "GTAmericaBold";
  font-weight: bold;
  src: url("font/GTAmerica/GT-America-Mono-Bold.otf");
}

canvas {
  display: block;
}

a {
  text-decoration: none;
}

.floatR {
  float: right;
}

/* LOGOS */

.logoAzienda {
  margin-bottom: 40px;
  position: absolute;
  bottom: -15px;

  animation: fadeIn 3s ease 4s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}

#logoAzienda {
  width: auto;
  height: 50px;
}

.nameAzienda {
  width: auto;
  height: 35px;
  position: absolute;
  bottom: 45px;
  right: 35px;

  animation: fadeIn 3s ease 4.3s 1 normal none running;
  animation-fill-mode: forwards;

  visibility: hidden;
}

/* BUTTON */

.btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  /* display: inline-block; */
  font-family: "GT-America-Mono-Regular", monospace;
  padding: 0;
}

/* DOMANDE TYPEWRITING */

.textContainer {
  margin-top: 30px;
  margin-left: 45px;
}

.cursor {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  margin-top: -7px;
  width: 2px;
  height: 30px;
  background-color: #28ff02;
}

#domanda span {
  color: black;
  font-family: "GT-America-Mono-Regular", monospace;
  font-size: 45px;
  line-height: 70px;
}

#risposta1 span {
  color: black;
  font-family: "GT-America-Mono-Regular", monospace;
  font-size: 35px;
  line-height: 55px;
}

@keyframes blink {
  to {
    background: transparent;
  }
}
